<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Total Amount" name="total"
            value="">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Down Payment" name="down-p"
            value="">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Interest Rate" name="interest"
            value="">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Loan Term" name="loan-term"
            value="">
    </div>
    <div class="form-group">
        <select class="form-control" name="cycle">
            <option value="Daily">Daily</option>
            <option value="Monthly">Monthly</option>
            <option value="Yearly">Yearly</option>
        </select>
    </div>
    <button type="submit" class="btn-custom btn-block" name="button">Calculate</button>
</form>