<div>
    <!-- Banner Start -->
    <div class="header-1 header-absolute"></div>
    <div class="banner banner-2 slider-no-padding">
        <div class="banner-item">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="settings" class="banner-slider">
                <div ngxSlickItem class="banner-inner bg-cover bg-center" style="background-image: url('{{image}}')"
                    *ngFor="let image of listingdetails.property.photo"></div>
            </ngx-slick-carousel>
            <div class="acr-listing-details">
                <div class="acr-listing-section">
                    <div class="acr-listing-nav">
                        <a href="#" class="btn-custom secondary">Print Listing</a>
                    </div>
                    <div class="acr-listing-section-body">
                        <div class="acr-listing-section-price">
                            <span>{{listingdetails.typeAd}}</span>
                            
                            <h3>${{listingdetails.price | number:'1.2-2'}}</h3> 
                        </div>
                    </div>
                </div>
                <div class="acr-listing-section">
                    <div class="acr-listing-section-body">
                        <h4> {{listingdetails.title}}</h4>
                        <div class="acr-listing-icons">
                            <div class="acr-listing-icon">
                                <i class="flaticon-home-1"></i>
                                <span>Beds</span>
                                <span class="acr-listing-icon-value">{{listingdetails.property.rooms}}</span>
                            </div>
                            <div class="acr-listing-icon">
                                <i class="flaticon-garage"></i>
                                <span>Baths</span>
                                <span class="acr-listing-icon-value" *ngIf="listingdetails.property.garage; else noGarage">Garage</span>
                                <ng-template #noGarage>No garage</ng-template>
                            </div>
                            <div class="acr-listing-icon">
                                <i class="flaticon-ruler"></i>
                                <span>Sqft</span>
                                <span class="acr-listing-icon-value">{{listingdetails.property.size | number:'1.2-2'}} m²</span>
                            </div>
                        </div>
                        <p>{{listingdetails.description}}</p>
                    </div>
                </div>
                <div class="acr-listing-section">
                    <div class="acr-listing-controls">
                        <a routerLink="/" class="acr-listing-control">
                            <i class="flaticon-share"></i>
                        </a>
                        <a routerLink="/" class="acr-listing-control">
                            <i class="flaticon-star"></i>
                        </a>
                        <a routerLink="/" class="acr-schedule-tour acr-listing-control">
                            <i class="flaticon-event"></i>
                            <span>Schedule a Tour</span>
                        </a>
                    </div>
                    <!-- property features
                    <div class="acr-listing-section-body">
                        <div class="acr-listing-meta">
                            <div class="row">
                                <div class="col-lg-6 col-md-3 col-sm-3" *ngFor="let feature of item.features | slice:0:4">
                                    <div class="acr-listing-meta-item">
                                        <span>{{feature.label}}</span>
                                        <p>{{feature.value}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="acr-arrows">
            <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
            <i class="slider-next fas fa-arrow-right slick-arrow"></i>
        </div>
    </div>
    <!-- Banner End -->
    <div class="section listing-wrapper">
        <div class="container">
            <div class="row">
                <!-- Listings Start -->
                <div class="col-lg-8">
                    <!-- Content Start -->
                    <div class="listing-content" [innerHtml]="listingdetails.description"></div>
                    <!-- Content End -->
                    <!-- Price Range In the area Start -->
                    <div class="section">
                        <div class="acr-area-price">
                            <span [style.left.%]="(toNumber(listingdetails.price) * 100) / max - 15">{{listingdetails.price |
                                number:'1.0-0'}}$ </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    [style.width.%]="(toNumber(listingdetails.price) * 100) / (max-min)"></div>

                            </div>
                            <div class="acr-area-price-wrapper">
                                <div class="acr-area-price-min">
                                    <h5>{{min | number:'1.0-0'}}$</h5>
                                    <span>Lowest</span>
                                </div>
                                <h5>Price range in the area</h5>
                                <div class="acr-area-price-max">
                                    <h5>{{max | number:'1.0-0'}}$</h5>
                                    <span>Highest</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Price Range In the area End -->

                    <!-- listing features-->
                    <!--
                    <div class="section section-padding pt-0 acr-listing-features">
                        <h4>Features</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="listing-feature-wrapper">
                                    <div class="listing-feature" *ngFor="let feature of item.features">
                                        <i [class]="feature.icon"></i>
                                        <h6 class="listing-feature-label">{{feature.label}}</h6>
                                        <span class="listing-feature-value">{{feature.value}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- what's nearby-->
                    <!--
                    <div class="section pt-0 acr-listing-nearby">
                        <h4>What's Nearby</h4>
                        <div class="listing-nearby-item" *ngFor="let near of item.nearby">
                            <h6 [class]="near.parentcls">
                                <i [class]="near.icon"></i>{{near.name}}
                            </h6>
                            <ul>
                                <li *ngFor="let list of near.list">
                                    <span><b>{{list.title}}</b> <span>({{list.radius}})</span> </span>
                                    <ul>
                                        <ngb-rating [max]="5" [(rate)]="list.rating" [readonly]="true">
                                            <ng-template let-fill="fill" let-index="index">
                                                <li [class.custom-warning]="fill === 100"><i class="fas fa-star fa-xs"></i></li>
                                            </ng-template>
                                        </ngb-rating>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    -->
                    <div class="section pt-0">
                        <h4>Property Video</h4>
                        <p>
                            {{listingdetails.description}}
                        </p>
                        <div class="embed-responsive embed-responsive-21by9">
                            <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/Sz_1tkcU0Co"></iframe>
                        </div>
                    </div>
                    
                    <!-- property history -->
                    <!--
                    <div class="section pt-0 acr-listing-history">
                        <h4>Property History</h4>
                        <ngb-accordion [closeOthers]="true" activeIds="static-0" class="accordion with-gap" id="faqAccordions1">
                            <ngb-panel id="static-{{i}}" *ngFor="let time of item.history; let i = index">
                                <ng-template ngbPanelTitle>
                                    {{time.title}}
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img [src]="time.image"
                                                [alt]="time.title">
                                        </div>
                                        <div class="col-sm-8" [innerHtml]="time.description"></div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                    -->
                    <div class="section pt-0">
                        <h4>Schedule a Tour</h4>
                        <form>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="Full Name" name="fname"
                                        value="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" placeholder="Email Address" name="email"
                                        value="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number" name="phone"
                                        value="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="Date" name="date" value="">
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" placeholder="Type your comment..." name="comment"
                                        rows="7"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn-custom primary" name="button">Schedule Tour</button>
                        </form>
                    </div>
                    <!-- Pagination Start -->
                    <!--
                    <div class="section p-0 post-single-pagination-wrapper">
                        <div class="post-single-pagination post-prev">
                            <i class="fas fa-arrow-left"></i>
                            <a routerLink="/" class="post-single-pagination-content">
                                <span>Prev Listing</span>
                                <h6>Theodore Lowe, Azusa New York 39531</h6>
                            </a>
                        </div>
                        <div class="post-single-pagination post-next">
                            <a routerLink="/" class="post-single-pagination-content">
                                <span>Next Listing</span>
                                <h6>Cecilia Chapman, Mankato Mississippi 96522</h6>
                            </a>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                    -->
                    <!-- Pagination End -->
                    <!-- Similar Start -->
                    <app-similarlisting></app-similarlisting>
                    <!-- Similar End -->
                </div>
                <!-- Listings End -->
                <!-- Sidebar Start -->
                <div class="col-lg-4">
                    <div class="sidebar sticky-sidebar">
                        <div class="sidebar-widget">
                            <h5>Meet The Agent</h5>
                            <!-- Author Start -->
                            <div class="media sidebar-author listing-agent">
                                <a routerLink="/agent-details/{{listingdetails.id}}"> <img [src]="listingdetails.property.photo[1]"
                                        [alt]="listingdetails.username"></a>
                                <div class="media-body">
                                    <h6> <a routerLink="/agent-details/{{listingdetails.id}}">{{listingdetails.username}}</a> </h6>
                                    <span>tessst</span>
                                </div>
                                <div class="dropdown options-dropdown" ngbDropdown>
                                    <a href="javascript:void(0)" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></a>
                                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <ul>
                                            <li> <a href="tel:{{listingdetails.phone}}"> <i class="fas fa-phone"></i> Call
                                                    Agent</a> </li>
                                            <li> <a routerLink="/listing-grid"> <i class="fas fa-th-list"></i> View
                                                    Listings</a> </li>
                                            <li> <a routerLink="/"> <i class="fas fa-star"></i> Save Agent</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Author End -->
                            <!-- Contact Start -->
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email Address" name="email"
                                        value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number" name="phone"
                                        value="">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" rows="3" placeholder="Enter your message"
                                        class="form-control"></textarea>
                                </div>
                                <button type="submit" class="btn-custom primary light btn-block">Send Message</button>
                            </form>
                            <!-- Contact End -->
                        </div>
                        <div class="sidebar-widget">
                            <h5>Recent Listings</h5>
                            <!-- Listing Start -->
                            <div class="listing listing-list" *ngFor="let items of listing  | slice:0:4 ">
                                <div class="listing-thumbnail">
                                    <a routerLink="/listing-details-v1/{{items.id}}"><img [src]="items.property.photo[1]"
                                            [alt]="items.title"></a>
                                </div>
                                <div class="listing-body">
                                    <h6 class="listing-title"> <a routerLink="/listing-details-v1/{{items.id}}"
                                            [title]="items.title">{{items.title}}</a> </h6>
                                    <span class="listing-price">{{items.price  | number:'1.2-2'}}$ </span>
                                </div>
                            </div>
                            <!-- Listing End -->
                        </div>
                        <div class="sidebar-widget">
                            <h5>Mortgage Calculator</h5>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Total Amount" name="total"
                                        value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Down Payment" name="down-p"
                                        value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Interest Rate" name="interest"
                                        value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Loan Term" name="loan-term"
                                        value="">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="cycle">
                                        <option value="Daily">Daily</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Yearly">Yearly</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn-custom btn-block" name="button">Calculate</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
</div>