<!-- Listings Slider Start -->
<div class="section section-padding pt-0 listings">
    <div class="container">
        <div class="section-title-wrap section-header flex-header">
            <div class="section-title-text">
                <h5 class="custom-primary">Find Your Home</h5>
                <h2 class="title">Recent Listings</h2>
            </div>
            <div class="acr-arrows primary-arrows">
                <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
                <i class="slider-next fas fa-arrow-right slick-arrow"></i>
            </div>
        </div>
        <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings"  class="listings-slider">
            <!-- Listing Start -->
            <div ngxSlickItem class="listing" *ngFor="let item of ads | slice:0:4">
                <div class="listing-thumbnail">
                    <a routerLink="/listing-details-v1/{{item.id}}"><img [src]="item.property.photo[0]" [alt]="item.title"></a>
                    <div class="listing-badges">
                        <span class="listing-badge sale" *ngIf="item.typeAd=='Sale'">On Sale</span>
                        <span class="listing-badge rent" *ngIf="item.typeAd=='Rental'">Rental</span>
                    </div>
                    <div class="listing-controls">
                        <a routerLink="/" class="favorite"><i class="far fa-heart"></i></a>
                        <a routerLink="/" class="compare"><i class="fas fa-sync-alt"></i></a>
                    </div>
                </div>
                <div class="listing-body">
                    <div class="listing-author" >
                        <img src="assets/img/agents/us.png" [alt]="item.username">
                        <div class="listing-author-body">
                            <p> <a routerLink="/agent-details/1">{{item.username}}</a> </p>
                            <span class="listing-date">{{ formatDate(item.created_at) }}</span>
                        </div>
                        <div class="dropdown options-dropdown" ngbDropdown>
                            <a href="javascript:void(0)" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></a>
                            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                <ul>
                                    <li> <a href="tel:{{item.phone}}"> <i class="fas fa-phone"></i> Call Agent</a> </li>
                                    <li> <a href="mailto:{{item.email}}"> <i class="fas fa-envelope"></i> Send Message</a> </li>
                                    <li> <a routerLink="/listing-details-v1/{{item.id}}"> <i class="fas fa-bookmark"></i> Book Tour</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h5 class="listing-title"> <a routerLink="/listing-details-v1/{{item.id}}" [title]="item.title">{{item.title}}</a> </h5>
                    <span class="listing-price">{{item.price | number:'1.2-2'}}$ <span *ngIf="item.typeAd=='Rental'">/month</span> </span>
                    <p class="listing-text">{{item.text}}</p>
                    <div class="acr-listing-icons">

                        <div class="acr-listing-icon" placement="top" ngbTooltip="Location">
                            <i class="flaticon-location"></i>
                            <span class="acr-listing-icon-value">{{item.property.region}}</span>
                        </div>

                        <div class="acr-listing-icon" placement="top" ngbTooltip="Rooms">
                            <i class="flaticon-home-1"></i>
                            <span class="acr-listing-icon-value">{{item.property.rooms}}</span>
                        </div>
                      
                        <div class="acr-listing-icon" placement="top" ngbTooltip="Square Feet">
                            <i class="flaticon-ruler"></i>
                            <span class="acr-listing-icon-value">{{item.property.size | number:'1.2-2'}} m²</span>
                        </div>
                    </div>
                    <div class="listing-gallery-wrapper">
                        <a routerLink="/listing-details-v1/{{item.id}}" class="btn-custom btn-sm secondary">View Details</a>
                        <a  placement="top" ngbTooltip="Gallery" class="listing-gallery" (click)="openCarouselModal(item)"> <i class="fas fa-camera" ></i> </a>
                    </div>
                </div>

                <!--CAROUSEL GALLERY-->
                <ng-template #carouselModalContent let-modal>
                    <div class="modal-header">

                        <div class="title-container">
                            <span>{{selectedListing?.typeAd}}</span>
                            <h3>${{selectedListing?.price | number:'1.2-2'}}</h3>
                        </div>
                        <div class="price-container">
                            <div class="acr-listing-icons">
                                <div class="acr-listing-icon">
                                    <i class="flaticon-home-1"></i>
                                    <span>Rooms</span>
                                    <span class="acr-listing-icon-value">{{selectedListing?.property.rooms}}</span>
                                </div>
                        
                                <div class="acr-listing-icon">
                                    <i class="flaticon-ruler"></i>
                                    <span>Sqft</span>
                                    <span class="acr-listing-icon-value">{{selectedListing?.property.size | number:'1.2-2'}} m²</span>
                                </div>
                            </div>
                        </div>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" fullscreen>
                        <ng-template ngbSlide *ngFor="let image of selectedListing?.property.photo">
                        <img [src]="image" alt="Carousel Image">
                        </ng-template>
                    </ngb-carousel>
                    </div>
                </ng-template>




            </div>
            <!-- Listing End -->
        </ngx-slick-carousel>
    </div>
</div>
<!-- Listings Slider End -->