<!-- Listings Start -->
<div class="section section-padding">
    <div class="container">
        <div class="section-title-wrap section-header flex-header">
            <div class="section-title-text">
                <h5 class="custom-primary">Find Your Home</h5>
                <h2 class="title">Recent Listings</h2>
            </div>
            <a routerLink="/listing-map" class="btn-custom">View All</a>
        </div>
        <div class="row">
            <!-- Listing Start -->
            <div class="col-lg-4" *ngFor="let item of listing | slice:0:3">
                <div class="listing">
                    <div class="listing-thumbnail">
                        <a routerLink="/listing-details-v1/{{item.id}}"><img [src]="item.property.photo[0]"
                                [alt]="item.title"></a>
                        <div class="listing-badges">
                            <span class="listing-badge featured" *ngIf="item.star"><i class="fas fa-star"></i></span>
                            <span class="listing-badge sale" *ngIf="item.sale">On Sale</span>
                            <span class="listing-badge pending" *ngIf="item.pending">Pending</span>
                            <span class="listing-badge rent" *ngIf="item.rental">Rental</span>
                        </div>
                        <div class="listing-controls">
                            <a routerLink="/" class="favorite"><i class="far fa-heart"></i></a>
                            <a routerLink="/" class="compare"><i class="fas fa-sync-alt"></i></a>
                        </div>
                    </div>
                    <div class="listing-body">
                        <div class="listing-author" *ngFor="let author of getAuthor(item.author)">
                            <img [src]="author.img" [alt]="author.name">
                            <div class="listing-author-body">
                                <p> <a routerLink="/agent-details/{{author.id}}">{{author.name}}</a> </p>
                                <span class="listing-date">{{item.postdate}}</span>
                            </div>
                            <div class="dropdown options-dropdown" ngbDropdown>
                                <a href="javascript:void(0)" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></a>
                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <ul>
                                        <li> <a href="tel:{{author.phoneno}}"> <i class="fas fa-phone"></i> Call Agent</a> </li>
                                        <li> <a href="mailto:{{author.emailid}}"> <i class="fas fa-envelope"></i> Send Message</a> </li>
                                        <li> <a routerLink="/listing-details-v1/{{item.id}}"> <i class="fas fa-bookmark"></i> Book Tour</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h5 class="listing-title"> <a routerLink="/listing-details-v1/{{item.id}}"
                                [title]="item.title">{{item.title}}</a> </h5>
                        <span class="listing-price">{{item.price / item.emitime | number:'1.2-2'}}$ <span>/month</span> </span>
                        <p class="listing-text">{{item.text}}</p>
                        <div class="acr-listing-icons">
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Beds">
                                <i class="flaticon-bedroom"></i>
                                <span class="acr-listing-icon-value">{{item.beds}}</span>
                            </div>
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Bathrooms">
                                <i class="flaticon-bathroom"></i>
                                <span class="acr-listing-icon-value">{{item.bathrooms}}</span>
                            </div>
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Square Feet">
                                <i class="flaticon-ruler"></i>
                                <span class="acr-listing-icon-value">{{item.area | number:'1.2-2'}}</span>
                            </div>
                        </div>
                        <div class="listing-gallery-wrapper">
                            <a routerLink="/listing-details-v1/{{item.id}}" class="btn-custom btn-sm secondary">View
                                Details</a>
                            <a routerLink="/" placement="top" ngbTooltip="Gallery" class="listing-gallery"> <i
                                    class="fas fa-camera"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing End -->
        </div>
    </div>
</div>
<!-- Listings End -->