<div class="container">
    <div class="cta cta-1">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h3>Need More Information On Real Estate?</h3>
            </div>
            <div class="offset-lg-1 col-lg-7">
                <p>
                    Check out our forum and benefit from legal and banking assistance.
                </p>
                <a routerLink="/contact" class="btn-custom-2 light">Find Out More</a>
            </div>
        </div>
    </div>
</div>