 <!-- FAQs Start -->
 <div class="section pt-0">
    <div class="container">
        <div class="section-title-wrap section-header">
            <h5 class="custom-primary">FAQ</h5>
            <h2 class="title">FAQ Pricing</h2>
        </div>
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion with-gap" id="faqAccordions1">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    How can I start with buying a home?
                </ng-template>
                <ng-template ngbPanelContent>
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                        tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                    <ul class="acr-list mb-0">
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                        <li> Many desktop publishing packages and web page editors now use Lorem Ipsum </li>
                        <li> There are many variations of passages of Lorem Ipsum </li>
                        <li> Internet tend to repeat predefined chunks as necessary </li>
                        <li> Contrary to popular belief, Lorem Ipsum is not simply random text. </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    Is the service free?
                </ng-template>
                <ng-template ngbPanelContent>
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                        tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                    <ul class="acr-list mb-0">
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                        <li> Many desktop publishing packages and web page editors now use Lorem Ipsum </li>
                        <li> There are many variations of passages of Lorem Ipsum </li>
                        <li> Internet tend to repeat predefined chunks as necessary </li>
                        <li> Contrary to popular belief, Lorem Ipsum is not simply random text. </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3">
                <ng-template ngbPanelTitle>
                    How many agents can I have at once?
                </ng-template>
                <ng-template ngbPanelContent>
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                        tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                    <ul class="acr-list mb-0">
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                        <li> Many desktop publishing packages and web page editors now use Lorem Ipsum </li>
                        <li> There are many variations of passages of Lorem Ipsum </li>
                        <li> Internet tend to repeat predefined chunks as necessary </li>
                        <li> Contrary to popular belief, Lorem Ipsum is not simply random text. </li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
<!-- FAQs End -->