<!-- Pricing Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="acr-pricing">
                    <div class="acr-pricing-header">
                        <h4>Free</h4>
                        <p>Package Includes</p>
                    </div>
                    <div class="acr-pricing-body">
                        <div class="acr-pricing-feature">
                            <h6>Listing Submission: <i placement="top" ngbTooltip="Allowed Listings Per Month" class="fas fa-question-circle"></i></h6>
                            <span>Up to 2 Listings</span>
                        </div>
                        <div class="acr-pricing-feature">
                            <h6>Agent Consultation: <i placement="top" ngbTooltip="Monthly Agent Reports" class="fas fa-question-circle"></i></h6>
                            <span>Not Available</span>
                        </div>
                    </div>
                    <div class="acr-pricing-footer">
                        <a routerLink="/" class="btn-custom-2 grey">Get Package</a>
                        <h4 class="custom-primary">0.00$ <span>/mo</span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="acr-pricing hot-plan">
                    <div class="acr-pricing-header">
                        <h4>Basic</h4>
                        <p>Package Includes</p>
                    </div>
                    <div class="acr-pricing-body">
                        <div class="acr-pricing-feature">
                            <h6>Listing Submission: <i placement="top" ngbTooltip="Allowed Listings Per Month" class="fas fa-question-circle"></i> </h6>
                            <span>Up to 5 Listings</span>
                        </div>
                        <div class="acr-pricing-feature">
                            <h6>Agent Consultation: <i placement="top" ngbTooltip="Monthly Agent Reports" class="fas fa-question-circle"></i></h6>
                            <span>Not Available</span>
                        </div>
                    </div>
                    <div class="acr-pricing-footer">
                        <a routerLink="/" class="btn-custom-2 light">Get Package</a>
                        <h4>12.99$ <span>/mo</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="acr-pricing">
                    <div class="acr-pricing-header">
                        <h4>Commercial</h4>
                        <p>Package Includes</p>
                    </div>
                    <div class="acr-pricing-body">
                        <div class="acr-pricing-feature">
                            <h6>Listing Submission: <i placement="top" ngbTooltip="Allowed Listings Per Month" class="fas fa-question-circle"></i></h6>
                            <span>Up to 20 Listings</span>
                        </div>
                        <div class="acr-pricing-feature">
                            <h6>Agent Consultation: <i placement="top" ngbTooltip="Monthly Agent Reports" class="fas fa-question-circle"></i></h6>
                            <span>Monthly Consultation</span>
                        </div>
                    </div>
                    <div class="acr-pricing-footer">
                        <a routerLink="/" class="btn-custom-2 grey">Get Package</a>
                        <h4 class="custom-primary">39.99$ <span>/mo</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing End -->