.listing .listing-gallery-wrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
  
.listing .listing-gallery-wrapper .listing-gallery-delete {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: rgb(109, 9, 9) !important;
    border-radius: 8px !important;
    color: #fff !important;
    width: 32px !important;
    height: 32px !important;
}
  
.listing .listing-gallery-wrapper .listing-gallery-delete:hover {
    background-color: #d14343 !important;
}