<div class="section" *ngIf="isAuthenticated">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar sticky-sidebar user-nav sidebar-left">
                    <ul>
                        <li> <a routerLink="/profile"> Edit Profile</a> </li>
                        <li> <a class="active" routerLink="/profile-listings">My Listings</a> </li>
                        <li> <a routerLink="/profile-saved-listings">Saved Listings</a> </li>
                        <li> <a class="logout" routerLink="/"><i class="flaticon-shut-down-button"></i> Logout</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">


                <div class="acr-empty-section" *ngIf="userAds?.length! ==0">
                    <i class="flaticon-home"></i>
                    <h3>You Haven't published Any Listings</h3>
                    <p>You still havent published any listings yet, Go back to the submit listings page</p>
                    <a routerLink="/submit-listing" class="btn-custom">Submit Listing</a>
                </div>
               


               <!--Modal supression -->
               <ng-template #confirmationModal let-modal>
                <div class="modal-header">
                  <h5 class="modal-title">Delete Confirmation</h5>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this advertisement?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
                  <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
                </div>
               </ng-template>
              

                <!-- Modal update -->
                <ng-template #updateModal let-modal>
                   
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Update advertisement</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <ng-container *ngIf="test$ | async as test">
                                    <div class="col-md-4">
                                        <ul ngbNav #nav="ngbNav" class="nav nav-tabs tab-cards" id="submitListingTab" role="tablist">
                                            <li [ngbNavItem]="1">
                                                <a ngbNavLink> <span>01</span>Basic information</a>
                                                <ng-template ngbNavContent>
                                                    <div class="row">
                                                    
                                                        <div class="col-md-6 form-group">
                                                            <label>Advertisement Tile</label>
                                                           
                                                            <input type="text" class="form-control" name="title" placeholder="Advertisement title" [(ngModel)]="title" required  #titleField="ngModel" [ngClass]="{'is-invalid': titleField.touched && titleField.invalid}" >
                                                            <div class="invalid-feedback" *ngIf="titleField.touched && titleField.invalid">
                                                                This field is required
                                                            </div>

                                                            <!--<input type="text" class="form-control" placeholder="{{test.title}}" name="title" [value]="(test$ | async)?.title" [(ngModel)]="title" required>-->
                                                        </div>
                                                        
                                                        <div class="col-md-6 form-group">
                                                            <label>Property For:</label>
                                                            <select class="form-control" name="status" [(ngModel)]="selectedTypeAd" required #typeField="ngModel" [ngClass]="{'is-invalid': typeField.touched && typeField.invalid}">
                                                            <option *ngFor="let adType of typeAds" >{{adType}}</option>
                                                            </select>
                                                            <div class="invalid-feedback" *ngIf="typeField.touched && typeField.invalid">
                                                                This field is required
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-md-6">
                                                            <label>Property Type</label>
                                                            <select class="form-control" name="type" [(ngModel)]="selectedType" required>
                                                            <option *ngFor="let propType of types">{{propType}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label>Property Price</label>
                                                            <div class="input-group">
                                                              <div class="input-group-prepend">
                                                                <span class="input-group-text">$</span>
                                                              </div>
                                                              <input type="text" class="form-control" name="price" placeholder="Property Price"
                                                                [(ngModel)]="price" required #priceField="ngModel"
                                                                (input)="validatePriceInput(priceField.value)" (keydown)="onKeyDown($event)"
                                                                [ngClass]="{'is-invalid': priceField.touched && isPriceInvalid()}">
                                                              <div class="invalid-feedback" *ngIf="priceField.touched">
                                                                <ng-container *ngIf="isPriceEmpty()">This field is required</ng-container>
                                                                <ng-container *ngIf="isPriceInvalidNumber()">Enter a valid number</ng-container>
                                                              </div>
                                                            </div>
                                                        </div>
                                                          
                                                        
                                                        <div class="col-md-6 form-group">
                                                            <label>Property Space (Sqft)</label>
                                                            <input type="text" class="form-control" placeholder="Property Space (Sqft)"
                                                                name="size" [(ngModel)]="size" required #sizeField="ngModel" 
                                                                [ngClass]="{'is-invalid': sizeField.touched && sizeField.invalid}"
                                                                (input)="validateSizeInput(sizeField.value)" (keydown)="onKeyDownSize($event)"
                                                                [ngClass]="{'is-invalid': sizeField.touched && isSizeInvalid()}">
                                                            
                                                                <div class="invalid-feedback" *ngIf="sizeField.touched">
                                                                    <ng-container *ngIf="isSizeEmpty()">This field is required</ng-container>
                                                                    <ng-container *ngIf="isSizeInvalidNumber()">Enter a valid number</ng-container>
                                                                </div>
                                                        </div>

                                                        <div class="col-md-6 form-group">
                                                            <label>Rooms</label>
                                                            <input type="number" class="form-control" placeholder="Property rooms"
                                                                name="rooms" [(ngModel)]="rooms" required #roomsField="ngModel" [ngClass]="{'is-invalid': roomsField.touched && roomsField.invalid}">
                                                            <div class="invalid-feedback" *ngIf="roomsField.touched && roomsField.invalid">
                                                                This field is required
                                                            </div>
                                                        </div>


                                                        <div class="col-md-12 form-group">
                                                            <label>Adverisement Description</label>
                                                            <textarea name="content" rows="4" class="form-control"
                                                                placeholder="Property Description" [(ngModel)]="description" >
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </li>
                                            <li [ngbNavItem]="2">
                                                <a ngbNavLink><span>02</span> Gallery</a>
                                                
                                                    <ng-template ngbNavContent>
                                                    
                                                        <div class="form-group">
                                                            <label>Property Gallery</label>
                                                            <!-- old 
                                                            <ngx-dropzone class="custom-dropzone dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)"  >
                                                                <div class="dropzone-msg dz-message needsclick">
                                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                                    <ngx-dropzone-label class="dropzone-msg-title">Drop files here or click to
                                                                        upload.</ngx-dropzone-label>
                                                                    <span class="dropzone-msg-desc">You can upload up to 5 images for your listing</span>
                                                                </div>
                                                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files | slice:0:5" [file]="f" [removable]="true" (removed)="onRemove(f)" [(ngModel)]="photo" name="photo"  required>
                                                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                                                </ngx-dropzone-image-preview>
                                                            </ngx-dropzone>
                                                            -->
                                                            <!--
                                                            <ngx-dropzone class="custom-dropzone dropzone" ngx-dropzone  (removed)="onRemove($event)" >
                                                                <div class="dropzone-msg dz-message needsclick">
                                                                  <i class="fas fa-cloud-upload-alt"></i>
                                                                  <ngx-dropzone-label class="dropzone-msg-title">Drop files here or click to upload.</ngx-dropzone-label>
                                                                  <span class="dropzone-msg-desc">You can upload up to 5 images for your listing</span>
                                                                </div>
                                                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let file of imageFiles" [file]="file" [removable]="true">
                                                
                                                                  <ngx-dropzone-label>{{file.name}}</ngx-dropzone-label>
                                                                </ngx-dropzone-image-preview>
                                                            </ngx-dropzone> -->

                                                            <ngx-dropzone class="custom-dropzone dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                                                                <div class="dropzone-msg dz-message needsclick">
                                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                                    <ngx-dropzone-label class="dropzone-msg-title">Drop files here or click to upload.</ngx-dropzone-label>
                                                                    <span class="dropzone-msg-desc">You can upload up to 5 images for your listing</span>
                                                                </div>
                                                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files | slice:0:5" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                                                </ngx-dropzone-image-preview>
                            
                                                              
                                                            </ngx-dropzone>
                                                              

                                                            <span class="acr-form-notice">*You can upload up to 5 images for your listing</span>
                                                            <span class="acr-form-notice">*Listing images should be atleast 620x480 in dimensions</span>
                                                        </div>
                                                    </ng-template>
                                                

                                                
                                                
                                                
                                            </li>
                                            <li [ngbNavItem]="3">
                                                <a ngbNavLink><span>03</span> Location</a>
                                                <ng-template ngbNavContent>
                                                   
                                                    <div class="row">
                                                        <div class="col-md-12 form-group">
                                                            <label>Region</label>
                                                            <select class="form-control" name="region" [(ngModel)]="region" (change)="onRegionChange()">
                                                              <option *ngFor="let region of regions">{{ region }}</option>
                                                            </select>
                                                          </div>
                                                          <div class="col-md-12 form-group">
                                                            <label>Ville</label>
                                                            <select class="form-control" name="ville" [(ngModel)]="ville">
                                                              <option *ngFor="let city of cities" [ngValue]="city">{{ city }}</option>
                                                            </select>
                                                          </div>
                                                       
                                                    </div>
                                                </ng-template>
                                                <button type="submit" class="btn-custom"  (click)="UpdateAd()">Submit Listing</button>

                                            </li>
                                          
                                        
                                        </ul>
                                        
                                    </div>
                                    
                                    <div class="col-md-8">
                                        <div [ngbNavOutlet]="nav" class="m-0"></div>
                                    </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="onUpdate()" >Update</button>
                        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
                        </div>
                        -->
                    </form>
                    
                </ng-template>

                <!--Alert sucess -->
                
                <div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                    Advertisement updated successfully.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <!-- Listing Start -->
                <div class="listing listing-list" *ngFor="let item of userAds | paginate:{itemsPerPage:tableSize,currentPage:page,totalItems:count};let i=index ">

                    <!-- alerte supression -->
                    <div *ngIf="item.id === deletedAdId">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            L'annonce a été supprimée avec succès!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="listing-thumbnail">
                        <a routerLink="/listing-details-v1/{{item.id}}"><img [src]="item.property.photo[0]"
                                [alt]="item.title"></a>
                        <div class="listing-badges">
                            <span class="listing-badge sale" *ngIf="item.typeAd=='Sale'">On Sale</span>
                            <span class="listing-badge rent" *ngIf="item.typeAd=='Rental'">Rental</span>
                        </div>
                        <div class="listing-controls">
                            <a routerLink="/" class="favorite"><i class="far fa-heart"></i></a>
                            <a routerLink="/" class="compare"><i class="fas fa-sync-alt"></i></a>
                        </div>
                    </div>
                  
                    <div class="listing-body">

                        <div class="listing-author">
                           
                            <div class="listing-author-body">
                                <span class="listing-date">{{ formatDate(item.created_at) }}</span>
                            </div>
                            <!--
                            <div class="dropdown options-dropdown" ngbDropdown>
                                <a href="javascript:void(0)" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></a>
                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <ul>
                                        <li> <a routerLink="/"> <i class="flaticon-eye"></i>View</a> </li>
                                        <li> <a routerLink="/"> <i class="flaticon-clipboard"></i>Update</a> </li>
                                    </ul>
                                </div>
                            </div>
                            -->
                        </div>
                        <h5 class="listing-title"> <a routerLink="/listing-details-v1/{{item.id}}"
                                [title]="item.title">{{item.title}}</a> </h5>
                        <span class="listing-price">{{item.price  | number:'1.2-2'}}$ <span *ngIf="item.typeAd=='Rental'">/month</span> </span>
                        <p class="listing-text">{{item.text}}</p>
                        <div class="acr-listing-icons">

                            <div class="acr-listing-icon" placement="top" ngbTooltip="Location">
                                <i class="flaticon-location"></i>
                                <span class="acr-listing-icon-value">{{item.property.region}}</span>
                            </div>

                            <div class="acr-listing-icon" placement="top" ngbTooltip="Rooms">
                                <i class="flaticon-home-1"></i>
                                <span class="acr-listing-icon-value">{{item.property.rooms}}</span>
                            </div>
                           
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Square Feet">
                                <i class="flaticon-ruler"></i>
                                <span class="acr-listing-icon-value">{{item.property.size | number:'1.2-2'}} m²</span>
                            </div>
                        </div>
                        <div class="listing-gallery-wrapper">
                            <a routerLink="/listing-details-v1/{{item.id}}" class="btn-custom btn-sm secondary">View Details</a>

                           
                            <a  id="updateLink" (click)="openModalUpdate(updateModal,item.id)" placement="top" ngbTooltip="Update" class="listing-gallery"><i class="fas fa-edit"></i></a>
                            <a  id="deleteLink" placement="top" ngbTooltip="Delete" class="listing-gallery-delete"   (click)="openModalDelete(confirmationModal,item.id)"> <i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Listing End -->

                <!-- Pagination -->
                <pagination-controls previousLabel="Previous" nextLabel="Next" (pageChange)="page = $event" *ngIf="userAds?.length! !==0"></pagination-controls>
               <!--end pagination -->
            </div>
        </div>
    </div>
</div>











