<div class="section" *ngIf="isAuthenticated">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar sticky-sidebar user-nav sidebar-left">
                    <ul>
                        <li> <a routerLink="/profile"> Edit Profile</a> </li>
                        <li> <a class="active" routerLink="/profile-listings">My Listings</a> </li>
                        <li> <a routerLink="/profile-saved-listings">Saved Listings</a> </li>
                        <li> <a class="logout" routerLink="/"><i class="flaticon-shut-down-button"></i> Logout</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
               <!--Modal supression -->
               <ng-template #confirmationModal let-modal>
                <div class="modal-header">
                  <h5 class="modal-title">Update Advertisement</h5>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
                  <button type="button" class="btn btn-primary" (click)="onUpdate()">Update</button>
                </div>
              </ng-template>
              

                <!-- Modal update -->
                <ng-template #updateModal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this advertisement?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
                      <button type="button" class="btn btn-danger" (click)="delete()">Supprimer</button>
                    </div>
                </ng-template>

                <!--Alert sucess -->
                <!--
                <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                    L'annonce a été supprimée avec succès!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                -->
                <!-- Listing Start -->
                <div class="listing listing-list" *ngFor="let item of userAds">

                    <!-- alerte supression -->
                    <div *ngIf="item.id === deletedAdId">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            L'annonce a été supprimée avec succès!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="listing-thumbnail">
                        <a routerLink="/listing-details-v1/{{item.id}}"><img [src]="item.property.photo[1]"
                                [alt]="item.title"></a>
                        <div class="listing-badges">
                            <span class="listing-badge sale" *ngIf="item.typeAd=='Sale'">On Sale</span>
                            <span class="listing-badge rent" *ngIf="item.typeAd=='Rental'">Rental</span>
                        </div>
                        <div class="listing-controls">
                            <a routerLink="/" class="favorite"><i class="far fa-heart"></i></a>
                            <a routerLink="/" class="compare"><i class="fas fa-sync-alt"></i></a>
                        </div>
                    </div>
                  
                   

                    <div class="listing-body">

                        <div class="listing-author">
                            <!--
                            <img src="assets/img/agents/1.jpg" [alt]="item.username">
                            <div class="listing-author-body">
                                <p> <a routerLink="/agent-details/1">{{item.username}}</a> </p>
                                <span class="listing-date">{{ formatDate(item.created_at) }}</span>
                            </div>
                            -->
                            <div class="dropdown options-dropdown" ngbDropdown>
                                <a href="javascript:void(0)" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></a>
                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <ul>
                                        <li> <a routerLink="/"> <i class="flaticon-eye"></i>View</a> </li>
                                        <li> <a routerLink="/"> <i class="flaticon-clipboard"></i>Update</a> </li>
                                      <!--<li> <button id="deleteLink" (click)="openModal(confirmationModal,item.id)" class="btn btn-link dropdown-item"><i class="flaticon-recycle-bin"></i>Delete</button> </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h5 class="listing-title"> <a routerLink="/listing-details-v1/{{item.id}}"
                                [title]="item.title">{{item.title}}</a> </h5>
                        <span class="listing-price">{{item.price  | number:'1.2-2'}}$ <span *ngIf="item.typeAd=='Rental'">/month</span> </span>
                        <p class="listing-text">{{item.text}}</p>
                        <div class="acr-listing-icons">
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Rooms">
                                <i class="flaticon-home-1"></i>
                                <span class="acr-listing-icon-value">{{item.property.rooms}}</span>
                            </div>
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Garage">
                                <i class="flaticon-garage"></i>
                                <span class="acr-listing-icon-value" *ngIf="item.property.garage; else noGarage">Garage</span>
                                <ng-template #noGarage>No garage</ng-template>
                            </div>
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Square Feet">
                                <i class="flaticon-ruler"></i>
                                <span class="acr-listing-icon-value">{{item.property.size | number:'1.2-2'}} m²</span>
                            </div>
                        </div>
                        <div class="listing-gallery-wrapper">
                            <a routerLink="/listing-details-v1/{{item.id}}" class="btn-custom btn-sm secondary">View Details</a>
                            <button  id="updateLink" (click)="openModal(updateModal,item.id)" class="btn-custom btn-sm primary"><i class="flaticon-clipboard"></i></button>
                            <button id="deleteLink" (click)="openModal(confirmationModal,item.id)" class="btn-custom btn-sm primary"> <i class="flaticon-recycle-bin"></i> </button>
                        </div>
                    </div>
                </div>
                <!-- Listing End -->
            </div>
        </div>
    </div>
</div>









