<!-- Footer Top Start -->
<div class="footer-top">
    <div class="container">
        <div class="row footer-btn-wrapper">
            <div class="col-lg-7 footer-widget">
                <h4>Looking to reconstruct your land? </h4>
                <p>Create a tender and let the promoters compete to offer you the best deals on our tender management feature.Get the best offers for your land with just a few clicks on our tender management option.</p>
            </div>
            <div class="col-lg-5 col-md-12 footer-widget">
                <div class="footer-btn">
                    <a routerLink="/" class="btn-custom-2 grey"> <i class="flaticon-company"></i>Create tender</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Top End -->