<!-- Footer Start -->
<footer class="acr-footer footer-2">
    <app-app></app-app>
    <!-- Footer Middle Start -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-12 footer-widget">
                    <div class="footer-logo"> <img src="assets/images/vendor2.png" alt="acres"> </div>
                    <p>To each their home</p>
                    <!--
                    <div ngbDropdown class="dropdown acr-language-selector">
                        <a href="javascript:void(0)" class="dropdown-toggle" ngbDropdownToggle>
                            <img src="assets/img/flags/united-states.png" alt="flag">
                            <span>English</span>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <ul>
                                <li> <a routerLink="/"><img src="assets/img/flags/germany.png" alt="flag"> German</a> </li>
                                <li> <a routerLink="/"><img src="assets/img/flags/russia.png" alt="flag"> Russian</a> </li>
                                <li> <a routerLink="/"><img src="assets/img/flags/united-states.png" alt="flag">English</a> </li>
                                <li> <a routerLink="/"><img src="assets/img/flags/spain.png" alt="flag"> Spanish</a> </li>
                            </ul>
                        </div>
                    </div>
                    -->
                </div>
                <div class="col-lg-2 offset-lg-1 col-sm-4 footer-widget">
                    <h5 class="widget-title">Menu</h5>
                    <ul>
                        <li> <a routerLink="/listing-map">Find Home</a> </li>
                        <li> <a routerLink="/submit-listing">Add Listing</a> </li>
                        <li> <a routerLink="/listing-map">Listings</a> </li>
                        <li> <a routerLink="/blog-grid">Blog</a> </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 footer-widget">
                    <h5 class="widget-title">Information</h5>
                    <ul>
                        <li> <a routerLink="/about">About Us</a> </li>
                        <li> <a routerLink="/contact">Contact Us</a> </li>
                        <li> <a routerLink="/services">Services</a> </li>
                        <li> <a routerLink="/faq">FAQ</a> </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 footer-widget">
                    <h5 class="widget-title">Legal</h5>
                    <ul>
                        <li> <a routerLink="/legal">Privacy Policy</a> </li>
                        <li> <a routerLink="/legal">Refund Policy</a> </li>
                        <li> <a routerLink="/legal">Cookie Policy</a> </li>
                        <li> <a routerLink="/legal">Legal Terms</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <p class="m-0">&copy; Copyright 2023 - <a routerLink="/">Vendor</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-5">
                    <ul>
                        <li> <a routerLink="/listing-map">Find a Home</a> </li>
                        <li> <a routerLink="/submit-listing">Add Listing</a> </li>
                        <li> <a routerLink="/agency-archive">View Agents</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>
<!-- Footer End -->